@import "tailwindcss";

:root{
  --bg-color: #f97316;
  --bg-deep-color: #ea580c;
  --text-color: #d1d5db;
  --text-color-hover: #ffffff;
  --border-color: #1f2937;
}
.darkmod{
  --bg-color: #616161;
  --bg-deep-color: #363535;
  --text-color: #051b3d;
  --border-color: #5393ec;
}

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* Default text color */
}

/* Ensure the main app container takes full height */
#root {
  height: 100%;
}

/* Modal background */
.fixed {
  z-index: 50; /* Ensure modal is above other content */
}

/* Optional: Customize scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
